<h1 class="mainHeading">Account</h1>
	<p class="mainText">Lost your key? We have a solution!!!</p>

		<div class="boxWrapper group">
			<div class="box">
				<h3 class="boxHeading">Sign Up</h3>

					<%= link_to "", new_user_registration_path, :class => "boxIcon fa fa-5x fa-pencil-square-o" %>

						<p class="boxText">Sign up and log in to your account.</p>
			</div>

			<div class="box">
				<h3 class="boxHeading">Add</h3>
					<i class="boxIcon fa fa-5x fa-plus"></i>
						<p class="boxText">Add as many keys as you need to your account and deliver to our safe location.</p>
			</div>

			<div class="box">
				<h3 class="boxHeading">Retreive</h3>
					<i class="boxIcon fa fa-5x fa-exchange"></i>
						<p class="boxText">Log in, retrieve any lost key and collect from our safe location.</p>
			</div>
		</div>