<h1 class="mainHeading">Contact Us</h1>
	<hr class="faded" />

<div class="boxWrapper group">
	<a <% if user_signed_in? %> href="tel:07797745690" <% else %> href="" <% end %>class="box boxLink">		
		<h3 class="boxHeading">Call</h3>
			<i class="boxIcon fa fa-5x fa-phone"></i>
				<p class="boxText">Phone support for active customers only</p>
	</a>
	
	<%= link_to new_comment_path, class: [:box, :boxLink] do %>
		<h3 class="boxHeading">Email</h3>
			<i class="boxIcon fa fa-5x fa-envelope"></i>
				<p class="boxText">Click here</p>
	<% end %>

	<a href="https://facebook.com" class="box boxLink" target="_blank">
		<h3 class="boxHeading">Like us</h3>
			<i class="boxIcon fa fa-5x fa-facebook"></i>
				<p class="boxText">Follow us via social media</p>
	</a>
</div>
