<h1 class="mainHeading">Contact Us</h1>
	<p class="mainText">Lost your key? We have a solution!!!</p>


		<div class="boxWrapper group">
			<div class="box">		
				<h3 class="boxHeading">Call</h3>
					<i class="boxIcon fa fa-5x fa-phone"></i>
						<p class="boxText">Jersey: 01534 012 012 &amp; UK: 0207 732 4130</p>
			</div>

			<div class="box">
				<h3 class="boxHeading">Email</h3>
					<i class="boxIcon fa fa-5x fa-envelope"></i>
						<p class="boxText">Use below form!</p>
			</div>

			<div class="box">
					<h3 class="boxHeading">Like us</h3>
						<i class="boxIcon fa fa-5x fa-facebook"></i>
							<p class="boxText">Follow us via social media</p>
			</div>

		</div>

		<%= render :template => 'contact/new', :@contact => Contact.new %>
		<%= render "views/contacts/new" %>