<% if @storages.blank? %>

  <h3> There are no keys stored here :(</h3>

<% else %>

  <table class="table">

    <tr>

      <th>Key ID</th>
      <th>Status</th>
      <th>Date </th>

    </tr>

      <% @storages.each do | storage | %>

        <tr>

          <td class="tableValue"> <%= storage.key_id %> </td>

          <td class="tableValue"> <% if storage.is_stored %> Stored <% else %> Awaiting <% end %> </td>

          <td class="tableValue"> <%= storage.updated_at %> </td>

        </tr>

      <% end %>

  </table>

<% end %>
