<h1 class="mainHeading">Account</h1>
	<hr class="faded" />
		<p>All account stuff</p>

<div class="boxWrapper group">

	<%= link_to user_password_path(email: current_user.email), method: :post, class: [:box, :boxLink] do %>
		<h3 class="boxHeading">Change Password</h3>
			<i class="boxIcon fa fa-5x fa-asterisk"></i>
				<p class="boxText">Send password change instructions to your email.</p>
	<% end %>

	<%= link_to new_key_path, class: [:box, :boxLink] do %>
		<h3 class="boxHeading">Add</h3>
			<i class="boxIcon fa fa-5x fa-plus"></i>
				<p class="boxText">Add a new key to your account.</p>
	<% end %>

	<%= link_to new_key_path, class: [:box, :boxLink] do %>
		<h3 class="boxHeading">Retreive</h3>
			<i class="boxIcon fa fa-5x fa-exchange"></i>
				<p class="boxText">Request a key retreival.</p>
	<% end %>
</div>
