/* BREAKPOINTS */
@mixin breakpoint($point) {
    @if $point == xlargeScreen {
        @media (max-width: 1400px) { @content; }
    }
    @else if $point == largeScreen {
        @media (max-width: 1000px) { @content; }
    }
    @else if $point == mediumScreen {
        @media (max-width: 800px) { @content; }
    }
    @else if $point == smallScreen {
        @media (max-width: 600px) { @content; }
    }
    @else if $point == xsmallScreen {
        @media (max-width: 400px) { @content; }
    }
}

/* BORDER RADIUS */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/* TRANSITIONS */
@mixin transition {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;      
}

/* TEXT SHADOW */
@mixin text-shadow {
    text-shadow: 4px 4px 5px rgba(85,85,85,0.8);
}

/* BOX SHADOW */
@mixin box-shadow {
    box-shadow: 0 4px 2px -2px rgba(85,85,85,0.8);
}

/* BOX SIZING */
@mixin box-sizing {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;    
}

/* SCALE */
@mixin scale {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);    
}

/* APPERANCE */
 @mixin apperance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
