/********************
WIDTHS
********************/
$desktop-width: 900px;


/********************
FONTS
********************/

/* FONT SIZES */
$normal: 1em;


/********************
COLORS
********************/

/* SHADES */
$white: #FFF;
$cloud: #F6F6F6;
$storm: #555;

/* PURPLES */
$lilac: #A191CB;
$purpley: #604A9D;
