/********************
WIDTHS
********************/
$small-screen: 300px;

$large-desktop: 1400px;


/********************
FONTS
********************/

/* FONT SIZES */
$xsmall: .6em;
$small: .8em;
$normal: 1em;
$large: 1.2em;
$xlarge: 1.4em;


/********************
COLORS
********************/

/* SHADES */
$white: #FFF;
$cloud: #F6F6F6;
$storm: #555;

/* PURPLES */
$lilac: #A191CB;
$purpley: #604A9D;
