/********************
WIDTHS & HEIGHTS
********************/
$hundred: 100%;


/********************
FONTS
********************/

/* FONT SIZES */
$xsmall: 1rem;
$small: 1.2rem;
$normal: 1.4rem;
$large: 1.6rem;
$xlarge: 1.8rem;
$xxlarge: 2.8rem;

/********************
COLORS
********************/

/* SHADES */
$ghost: #F8F8FF;
$cloud: #E6E6E6;
$storm: #555;

/* PURPLES */
$lilac: #A191CB;
$purpley: #604A9D;

/* RED */
$errorRed: #F00;