/********************
CORE
********************/
 *, *:before, *:after {
    outline: 0;
    @include box-sizing;
    -webkit-tap-highlight-color: transparent;
    border-style: none;
    cursor: default;    
    font-weight: 400;      
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
html, body {
    height: $hundred;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-weight: 400;
}
body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: $purpley;
    color: $storm;    
}
a, a:active, a.visited {
    color: $purpley;
    text-decoration: none;
}