<h1 class="mainHeading">Key Retrieval</h1>
    <hr class="faded" />

        <%= link_to "Back", :back, class: :formLink %>
 	<br>

		<div class="formWrapper"><%= form_tag orders_path, method: "post" do %>
		  	<div id="dropin"></div>
		  	<input type="submit" value="Pay £1" class="button">
		<% end %>
		<%= @params %> <!-- We'll remove this later, just testing now -->

<script type="text/javascript">
	function setupBT() {
		braintree.setup("<%=@client_token%>", 'dropin', {
			container: 'dropin'
		});
	}
  
  	if (window.addEventListener)
    	window.addEventListener("load", setupBT, false);
  	else if (window.attachEvent)
    	window.attachEvent("onload", setupBT);
  	else window.onload = setupBT;
</script>
