<div class="formWrapper">

  <h2>You'll be lucky if this works.</h2>

  <%= form_for @storage do |f| %>

    <%= f.collection_select :key_id, @keys, :id, :name %>

    <%= f.button "Store Key", type: :submit, method: :patch, class: :button %>

  <% end %>

</div>
