/********************
CONTENT
********************/
.wrapper {
    width: $hundred;
    height: $hundred;
    margin: 0;
    padding: 0;
}
.logo {
    width: 260px;
    height: 80px;
    margin: 20px;
    display: block;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
    @include transition;      
}
.logo:hover {
    opacity: 0.3;
    cursor: pointer;
}
.side {
    width: 280px;
    float: left; 
}
.contentWrapper {
    width: 1000px;
    height: auto !important; 
    height: calc(100% - 40px); 
    min-height: calc(100% - 40px);   
    float: left;
    margin: 20px 20px 20px 0; 
    padding: 20px;
    background-color: $white;
    @include border-radius(10px);
    @include transition;        
}

/********************
BOX
********************/
.boxWrapper {
    width: $hundred;
    overflow: hidden;
}
.box {
    width: calc(100% / 3 - 14px);
    float: left;
    margin: 0 0 -1000px 0;
    padding-bottom: 1000px;
    background-color: $purpley;
    color: $white;
    text-align: center; 
    @include text-shadow;
    @include transition;                
}
.box:nth-child(2) {
    margin: 0 20px -1000px 20px;
}
.boxIcon {
    color: $lilac;
}
.boxHeading, .boxText {
    margin: 0;
    padding: 20px;
}
.boxHeading {
    font-size: $xlarge;
}
.boxText {
    font-size: $small;
}





@media (max-width: 1400px) {
    .contentWrapper {
        width: calc(100% - 300px);
    }
}
@media (max-width: 1000px) {
    .logo {
        float: left;
        margin-bottom: 0;
    }
    .side {
        width: $hundred;
        max-height: 1000px;
    }
    .contentWrapper {
        width: calc(100% - 40px); 
        height: auto !important; 
        height: calc(100% - 140px); 
        min-height: calc(100% - 140px);     
        margin: 20px;
    }
}
@media (max-width: 600px) {
    .logo {
        margin: 20px auto 10px auto;
        float: none;
        display: block;
    }
    .box, .box:nth-child(2) {
        float: none;
        width: 260px;
        margin: 0 auto;
        padding-bottom: 0; 
    }
    .box:nth-child(2) {
        margin: 20px auto;
    }
}
