/********************
FONTS
********************/
.field, .button {
	margin: 8px 0;
}
.label, .formlink {
	font-size: $normal;
}
.input, .button { /* For all form fields to remove default styling */
    text-align: center;
    -webkit-border-radius: none;
    border-radius: 0;   
    border: 1px solid $storm;
    cursor: pointer;
    @include apperance;
    @include box-shadow;
}
.input, .button {
	width: 200px;
	height: 30px;
	font-size: $normal;
}
.input:focus, .input:hover {
    background-color: $cloud;
}
.button {
    background-color: $purpley;
    color: $white;
}
.checkbox {
    @include scale;
}
.formLink {
	display: block;
	padding-top: 15px;
}
.button:focus, .button:hover {
	color: $lilac;
}
.formLink:focus, .formLink:hover {
	text-decoration: none;
}