/********************
FONTS
********************/
.field, .button {
	margin: 8px 0;
}
.label, .formlink {
	font-size: $normal;
}
.input, .button { /* For all form fields to remove default styling */
    text-align: center;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: none;
    border-radius: 0;	
    border: 1px solid $storm;
    cursor: pointer;
}
.input, .button {
	width: 200px;
	height: 30px;
	font-size: $normal;
}
.input:focus, .input:hover {
    background-color: $cloud;
}
.button {
    background-color: $purpley;
    color: $white;
}
.checkbox {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.formLink {
	display: block;
	padding-top: 15px;
}
.button:focus, .button:hover {
	color: $lilac;
}
.formLink:focus, .formLink:hover {
	text-decoration: none;
}