/********************
MENU
********************/

/* MENU ICON */
.menuIcon {
    display: none;
    color: $white;
    margin: 26px auto auto 50px;
    cursor: pointer;
    @include text-shadow;
    @include transition;

    @include breakpoint(largeScreen) {
        display: inline-block;
    }
}
.menuIcon:hover, .menuIcon:focus {
    color: $lilac;
}
/* Force cursor to pointer when hovering over icon */ 
[class^="menuIcon"]:before, [class*="menuIcon"]:before {
    cursor: inherit;
}

/* MENU */
.menu {
    @include transition;
    
    @include breakpoint(largeScreen) {
        width: 300px;
        max-height: 0;
        position: relative;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }  
}
.menuIcon:hover + .menu, .menuIcon:focus + .menu, .menu:hover, .menu:focus {

    @include breakpoint(largeScreen) {
        max-height: 120px;
        overflow: auto;
        transition: max-height 0.5s ease-in;
    }
}
/* Remove scrollbar from menu on scroll */
.menu::-webkit-scrollbar { 
    width: 0 !important;
}
.menu {
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}

/* LINKS */
.navLink {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px 10%;
    font-size: $large;
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid $white; 
    @include box-shadow; 
    @include transition; 
    @include text-shadow;
    cursor: pointer;       
}
.navLink:first-child {
    margin-top: 20px;
}
.navLink:last-child {
    margin-bottom: 30px;
}
.navLink:focus, .navLink:hover {
    width: 90%;
    padding-left: 15%;    
    color: $lilac;
    border-bottom: 1px solid $lilac;   
}
