/********************
TABLE
********************/
.table {
    width: $hundred;
    margin: 40px 0;
    table-layout: fixed;   
}
.tableHeading, .tableValue {
    margin: 0;
    padding: 5px 10px;
    font-size: $normal;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.tableHeading {
    border-bottom: 2px solid $purpley;
    color: $purpley;
}
.tableValue {
    border-bottom: 2px solid $cloud; 
}

.tableIcon {
    color: $storm;
    @include transition;      
}
.tableIcon:hover, .tableIcon:focus {
    opacity: 0.8;
}