<table>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Rank</th>
        </tr>
    <% @Users.each do | user | %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.mobile_number %></td>
            <td><%= user.rank_id %></td>
        </tr>
    <% end %>
</table>
